<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/stil3.css">
    <title>Naziv app</title>
</head>
<body>
    <h1>artikli</h1>

    <% let n = artikli.length;%>
    <%for(let i = 0; i < n; i++) {%>
        <div class="omotac" onclick="koristi()">
            <img src="<%=artikli[i].putanja_slika%>" alt="<%=artikli[i].naziv%>">
            <br>
            <p class="cena"><%= artikli[i].originalna_cena%></p>
            <br>
            <p class="niza_cena"><%= artikli[i].niza_cena%></p>
            <p id="ime"><%= artikli[i].naziv%></p>
            
            <form action="../pocetna" method="POST">
                <input type="text" id="indikator" name="indikator" value="<%=artikli[i].manje_bodova%>">
                <input type="text" id="dozvola" name="dozvola" value="<%=user.taksi_dozvola%>" hidden> 
                <br>
                <input type="submit" name="dugme" value="Iskoristi popust">
            </form>

        </div>
    <% }%>

</body>
</html>